<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>783051102580-8tchd3ftkgm6hhglnr0n7ao5f56bmc6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.783051102580-8tchd3ftkgm6hhglnr0n7ao5f56bmc6o</string>
	<key>API_KEY</key>
	<string>AIzaSyA0Xz7wjhCeuOpVbCIcknSOd2W4GxfwS7U</string>
	<key>GCM_SENDER_ID</key>
	<string>783051102580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caesar.trivia</string>
	<key>PROJECT_ID</key>
	<string>trivia-43670</string>
	<key>STORAGE_BUCKET</key>
	<string>trivia-43670.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:783051102580:ios:c1e66f0a847420a9</string>
	<key>DATABASE_URL</key>
	<string>https://trivia-43670.firebaseio.com</string>
</dict>
</plist>